
<hr>

<!--<form action="/create_game" method="post">-->

<%= form_with url: "/create_and_launch_game", method: :post do %>

  <div>
    <label for="character_select_box">
      Character Select
    </label>

    <select id="character_select_box" name="query_player_character_id">
      <% Suspect.order({ :suspect_name => :asc }).each do |a_suspect| %>
        <option value="<%= a_suspect.suspect_name %>">
          <%= a_suspect.suspect_name %>
        </option>
      <% end %>
    </select>

  </div>

  <div>
    <label for="opponent_one_select_box">
      Select Opponent One
    </label>

    <select id="opponent_one_select_box" name="query_opponent_one_id">
      <% Suspect.order({ :suspect_name => :asc }).each do |a_suspect| %>
        <option value="<%= a_suspect.suspect_name %>">
          <%= a_suspect.suspect_name %>
        </option>
      <% end %>
    </select>

  </div>

  <div>
    <label for="opponent_two_select_box">
      Select Opponent Two
    </label>

    <select id="opponent_two_select_box" name="query_opponent_two_id">
      <% Suspect.order({ :suspect_name => :asc }).each do |a_suspect| %>
        <option value="<%= a_suspect.suspect_name %>">
          <%= a_suspect.suspect_name %>
        </option>
      <% end %>
    </select>
    
  </div>


    <div>
    <label for="opponent_three_select_box">
      Select Opponent Three
    </label>

    <select id="opponent_three_select_box" name="query_opponent_three_id">
      <% Suspect.order({ :suspect_name => :asc }).each do |a_suspect| %>
        <option value="<%= a_suspect.suspect_name %>">
          <%= a_suspect.suspect_name %>
        </option>
      <% end %>
    </select>
    
  </div>


  <div>
    <button type="submit">Create and Launch Game</button>
  </div>


<% end %>

<hr>
