<h2>There's been a murder!</h2>

<h3>Do you think you can find the killer, the weapon they used, and the room in which it occurred, <%= @game_session.player_character%>?</h3>

<h3>Here are your cards...</h3>

<table class="table" border="1">

  <tr>
    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>
  </tr>
  <tr>
      <td>
        <%= @game_session.player_card_1 %>
      </td>

      <td>
        <%= @game_session.player_card_2 %>
      </td>

      <td>
        <%= @game_session.player_card_3 %>
      </td>

      <td>
        <%= @game_session.player_card_4 %>
      </td>

      <td>
        <%= @game_session.player_card_5 %>
      </td>
  </tr>

</table>

<h3>... and here's what you know about your opponent's cards...</h3>

<!-- FIRST OPPONENT'S CARDS -->

<h2><%= @game_session.opponent_1 %></h2>

<table class="table" border="1">

  <tr>
    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>
  </tr>
  <tr>
      <td>
        <%= @game_session.opponent_1_card_1 %>
      </td>

      <td>
        <%= @game_session.opponent_1_card_2 %>
      </td>

      <td>
        <%= @game_session.opponent_1_card_3 %>
      </td>

      <td>
        <%= @game_session.opponent_1_card_4 %>
      </td>

      <td>
        <%= @game_session.opponent_1_card_5 %>
      </td>
  </tr>

</table>

<!-- SECOND OPPONENT'S CARDS -->

<h2><%= @game_session.opponent_2 %></h2>

<table class="table" border="1">

  <tr>
    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

  </tr>
  <tr>
      <td>
        <%= @game_session.opponent_2_card_1 %>
      </td>

      <td>
        <%= @game_session.opponent_2_card_2 %>
      </td>

      <td>
        <%= @game_session.opponent_2_card_3 %>
      </td>

      <td>
        <%= @game_session.opponent_2_card_4 %>
      </td>

  </tr>

</table>

<!-- THIRD OPPONENT'S CARDS -->

<h2><%= @game_session.opponent_3 %></h2>

<table class="table" border="1">

  <tr>
    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

    <th>
      <em>card type</em>
    </th>

  </tr>
  <tr>
      <td>
        <%= @game_session.opponent_3_card_1 %>
      </td>

      <td>
        <%= @game_session.opponent_3_card_2 %>
      </td>

      <td>
        <%= @game_session.opponent_3_card_3 %>
      </td>

      <td>
        <%= @game_session.opponent_3_card_4 %>
      </td>

  </tr>

</table>

<hr>

<h3>Your Location</h3>
<p>You're in the <%= @current_location %>.</p>

<h4>You are...</h4>
<ul>
  <% @room_squares.each do |room_square| %>
    <li>...<%= room_square[:distance] %> spaces from the <%= room_square[:name] %>.</li>
  <% end %>
</ul>


<hr>

<h3>Your Turn</h3>

<!-- Dropdown menu for turn type selection -->
<%= form_with url: confirm_turn_path, method: :post, local: true do |form| %>
  <div>
    <label for="turn_type">Select your turn type:</label>
    <%= select_tag :turn_type, options_for_select(['roll', 'guess', 'accuse']), id: 'turn_type' %>
  </div>
  
  <%= hidden_field_tag :game_session_id, @game_session.id %>

  <div>
    <%= submit_tag "Confirm Selection" %>
  </div>
<% end %>

<hr>

<h3>Current Turns</h3>

<table class="table" border="1">
  <thead>
    <tr>
      <th>Turn Number</th>
      <th>Turn Type</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @game_session.turns.each_with_index do |turn, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= turn.turn_type %></td>
        <td><%= turn.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>


<h3>Where would you like to go from here?</h3>

<!--<h3>Currently, you're in the <%#= @starting_location.location %></h3>-->

<hr>

<h3>Move about the board.</h3>

<hr>

<h3>Make a guess.</h3>

<hr>

<h3>Make an accusation</h3>

<!---- Code to see cards dealt ----->

<hr>

<p>Opening game session info</p>

<div>
<% @game_session.attributes.each do |attribute, value| %>
  <p><strong><%= attribute.humanize %>:</strong> <%= value %></p>
<% end %>
</div>

<hr>

<h3>Your cards</h3>

<hr>

<h3>Turn Number</h3>

<hr>

<h3>Status</h3>

<hr>

<h3>Opponent Cards</h3>

<h4>Opponent 1 Cards</h4>
<h4>Opponent 2 Cards</h4>
<h4>Opponent 3 Cards</h4>

<hr>

<h3>Notepad</h3>

<hr>
